* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    height: 100vh;


}

/*                                                Header Nav */


nav {
    z-index: 100;
    height: 100px;
    font-size: 25px;
    background-color: rgb(217, 244, 244);
    box-shadow: 0px 1px 10px black;
}

nav img {
    width: 50px;
    height: 50px;
}

nav a {
    width: 110px;
    margin-left: 20px;
}

nav ul a:hover {
    font-weight: bold;
}

nav i{
    font-size: 40px;
}

nav i:hover{
    font-size: 45px;
}
/*                                      Head */
.head {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
    width: 80%;
    text-align: center;
    background-color: rgb(253, 235, 238);
    border-radius: 20px;
}


/*                                                   Home */
#home {
    width: 100%;
    height: 750px;
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: rgb(249, 223, 241);
    margin-bottom: 8px;
}

.home2 {
    width: 60%;
    height: 400px;
    position: relative;
    bottom: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 10px;
    box-sizing: border-box;
    margin-left: 100px;
}

.home2 h1 {
    font-size: 80px;
    animation-name: tit;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
}

@keyframes tit {
    0% {
        color: blueviolet;
    }

    25% {
        color: rgb(21, 21, 13);
    }

    50% {
        color: rgb(235, 135, 53);
    }

    75% {
        color: rgb(240, 109, 214);
    }

    100% {
        color: rgb(215, 23, 23);
    }
}

.home2 h3 {
    font-size: 50px;
    margin-bottom: 30px;
    color: rgb(197, 41, 67);

}

.home2 h6 {
    font-size: 30px;

}

.home2 a {
    width: 150px;
    height: 50px;
    border-radius: 20px;
    margin-top: 50px;
    transition-duration: 0.1s;
}

.home2 a:hover {
    color: black;
    background-color: aqua;
    transform: scale(1.1);
}

/*                                                   About */
#about {
    width: 100%;
    height: 750px;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin-bottom: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#about .phot {
    width: 800px;
    margin-left: 80px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    float: left;
}

#about .phot video {
    margin-left: 20px;
    width: 750px;
    height: 550px;
}

#about .phot .best {
    /* border: 1px solid black; */
    height: 80px;

    background-color: white;
    text-align: center;
    position: relative;
    bottom: 300px;
    box-sizing: border-box;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#about .cont {
    margin-left: 900px;
    /* border: 1px solid black; */
    margin-top: 180px;
    margin-bottom: 70px;
    box-sizing: border-box;
    padding-top: 100px;

}

#about button {
    margin-left: 30px;
    width: 200px;
    height: 40px;
    border-radius: 25px;
}

#about button:hover {
    background-color: aquamarine;
}

/*                                                   Product new */

.card h3{
    z-index: 99;
    color: rgb(220, 134, 28);
}
.card h4{
    z-index: 99;
  position: relative;
  bottom: 5px;
}
.card i{
    width: 190px;
    height: 40px;
    font-size: 30px;
    border: 1px solid black;
    border-radius: 10px;
    position: relative;
    left: 60px;
    bottom: 10px;
    /* bottom: 20px;  */
    background-color: rgb(253, 215, 222);
}

.card i:hover{
    background-color: rgb(245, 155, 170);
}

/*                                                   Product */


#product {
    width: 100%;
    height: 1000px;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin-bottom: 8px;
}

.container-fluid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, auto));

    box-sizing: border-box;
    padding-left: 40px;
}

.card {
    width: 300px;
    height: 400px;
    margin: 50px;
    overflow: hidden;
    border-radius: 15px;
    transition-duration: 0.2s;
    text-align: center;
    font-family: sans-serif;
}

/* .card:hover{
transform: scale(1.1);
} */

.card img {
    width: 300px;
    height: 270px;
    border-radius: 15px;

}

.content {
    height:90px;
    width: 300px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(253, 126, 194, 0.5);
    color: beige;
    /* top: 410px; */
    top: 180px;
    left: 300px;
    transition-duration: 0.3s;

}


.card:hover {
    cursor: pointer;
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 0px 2px 20px black;
}

.card:hover .content {
    color: black;
    top: 180px;
    left: 0px;
    background: rgba(253, 126, 194, 0.5);

}


.card .content {
    display: flex;
}

.card .content .ca {
    width: 200px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px solid rgb(197, 7, 168);
    border-radius: 20px;
    height: 70px;
}

.card .content .car {
    width: 70px;
    margin-right: 5px;
    box-sizing: border-box;
    padding: 10px;
    height: 70px;
}

.card .content img {
    width: 50px;
    height: 50px;
}

/*                                                   Review */
#review {
    width: 100%;
    height: 750px;
    /* border: 1px solid black; */
    border-radius: 8px;
    margin-bottom: 8px;
    background-color: rgb(253, 246, 253);
    display: flex;
}

#review .cardd {
    margin: 20px;
    margin-top: 120px;
    margin: auto;
    box-sizing: border-box;
    padding: 10px;
    width: 450px;
    height: 500px;
    /* border: 1px solid black; */
    box-shadow: 0px 1px 10px black;
}

#review #person {
    margin-top: 40px;
    width: 140px;
    height: 130px;
    border-radius: 50px;
    box-shadow: 0px 1px 10px black;

}

#review .star {
    text-align: center;
}

#review .star img {

    width: 50px;
    height: 50px;
}

#review .conte {
    margin-top: 50px;
}

#review .conte h2 {
    margin-top: 10px;
}

/*                                                   Contact */
#contact {
    width: 100%;
    height: 970px;
    /* border: 1px solid black; */
    border-radius: 8px;
    box-sizing: border-box;
    padding: 100px;
    font-size: 30px;
    background-color: rgb(248, 215, 242);

}

#contact form {
    margin-right: 750px;
}

#contact a {
    text-decoration: none;
}

#contact .footer {
    display: flex;
}

#contact .ot {
    margin-left: 250px;

}

#contact .loc {
    margin-left: 250px;
}

#contact .info {
    margin-left: 250px;
    font-size: 20px;
}

#contact img {
    width: 60px;
    height: 50px;
}

#contact #conimg {
    position: absolute;
    top: 485%;
    right: 140px;
    width: 550px;
    height: 550px;
}

#contact .qu ul {
    list-style: none;
}

#contact .ot ul {
    list-style: none;
}

#contact .loc ul {
    list-style: none;
}

#contact .info ul {
    list-style: none;
}


/*                                                      Form */

.form-group input:focus {
    outline: 0;
}

.form-group.success input {
    border: 3px solid green;
}

.form-group.error input {
    border: 3px solid red;
}

.form-group .error {
    color: red;
    font-size: 9px;
    height: 13px;
}


/*                                                  Cart */

nav .bx {
    margin-right: 100px;
    cursor: pointer;
}

.cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 460px;
    height: 100vh;
    padding: 20px;
    background: rgb(253, 243, 249);
    box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
    transition: 0.3s;
    overflow: auto;
    transition-duration: 0.5s;
}

.cart.active {
    right: 0;
}

.cart-title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.cart-img {
    width: 130px;
    height: 150px;
    object-fit: contain;
    padding: l0px;
}

.detail-box {
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size: 1rem;
    text-transform: uppercase;
}

.cart-price {
    font-weight: 500;
}

.cart-quantity {
    border: 1px solid black;
    outline-color: rgb(251, 196, 196);
    width: 2.8rem;
    text-align: center;
    font-size: 1rem;
}

.cart-remove {
    font-size: 24px;
    color: rgb(238, 96, 96);
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 2px solid black;
}

.total-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.total-price {
    margin-left: 0.5rem;
}

.btn-buy {
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    border: none;
    background: rgb(227, 178, 240);
    color: black;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.btn-buy:hover{
    background: palevioletred;
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 19rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
}

html{
    scroll-behavior: smooth;
}